<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2> Ticket Kata sesh..... </h2>
    <h2> <%= id %>
    <a href="/tickets/print/<%= id %>"> Print </a>

  </body>
</html>
